<h2>Q&A</h2>

<% @questions.each do |q| %>
  <hr>
  <p><span>ユーザー名: </span><%=link_to q.user.name, user_path(q.user.id) %></p>
  <p><span>質問内容: </span><%=link_to q.title, question_path(q.id) %></p>
<% end %>
